*{
	   		padding: 0;
	   		margin: 0;
	   	}
	   	.all{
			width: 100%;
			height: 100%;
	   	}
	   	.all .topBanner{
			width: 100%;
			height: 11.8%;
			background-color: #ff8288;
			line-height: 2.3rem;
			color: #fff;
			text-align: center;
	   	}
	   	.topBanner .bang{
	   		color: white;
	   		font-size: 0.9rem;
	   		margin-left: 5.0rem;
	   		margin-top: -1.5rem;
	   		float: left;
	   	}
	   	.topBanner ul{
				/*border: 1px solid red;*/
				width: 100%;
				height: 2rem;
				float: left;
				margin-left: 1rem;
				margin-top: 1rem;
			}
			.topBanner ul li{
				border: 1.5px solid white;
				width: 0.3rem;
				height: 0.3rem;
				float: left;
				border-radius: 100%;
				list-style: none;
				margin-right: 0.2rem;
				margin-top: -0.3rem;
			}
			.topBanner ul .byq{
				background: white;
			}
			.topBanner ul .yw{
				color: white;
				font-size: -1rem;
				margin-left: 0rem;
				margin-top: -1.3rem;
				float: left;
			}
			.topBanner ul .wuxian{
				width: 30px;
				height: 30px;
				float: left;
				margin-left: -0.1rem;
				margin-top: -1.2rem;
			}
			.topBanner img{
				width: 100%;
				height: 100%;
			}
			.topBanner ul .sj{
				color: white;
				font-size: 0.5rem;
				float: left;
				margin-left: 2.4rem;
				margin-top: -1.4rem;
			}
			.topBanner ul .ly{
				float: left;
				width: 30px;
				height: 30px;
				margin-left: 3rem;
				margin-top: -1.3rem;
			}
			.ly img{
				width: 100%;
				height: 100%;
			}
			.topBanner ul .dl{
				color: white;
				font-size: 0.5rem;
				float: left;
				margin-left: 11.9rem;
				margin-top: -2.98rem;
			}
			.topBanner ul .dp{
				width: 50px;
				height: 28px;
				float: left;
				margin-left: 13.2rem;
				margin-top: -2.9rem;
			}
			.dp img{
				width: 100%;
				height: 100%;
			}
	   	.con{
	   		width: 100%;
	   		height: 92%;
	   		background:#fdefe7;
			overflow: hidden;
	   	}
	   	.con .con_main{
	   		width:92%;
	   		margin: 0 auto;	
	   		height: 92%;	
	   		margin-top: 1.0rem;	
	   	}
	   	.con .con_main span{
	   		font-family: MicrosoftYaHei;
	   		display: block;
			font-size:0.75rem;
			font-weight: normal;
			font-stretch: normal;
			line-height: 0.7rem;
			/*letter-spacing: 3px;*/
			color: #666666;
	   	}
	   	.con .con_main .phone{
	   		width: 100%;
	   		height: 1.875rem;
	   		margin-top:0.825rem;
			margin-bottom: 1rem;
	   	}
	   .con .con_main .phone .number{
			width: 9.3rem;
			height: 1.85rem;
			color: #cccccc;
			font-family: MicrosoftYaHei;
			font-size: 0.75rem;
			font-weight: normal;
			border: none;
			border-radius:0.25rem;
			
			padding-left:0.45rem ;
			float: left;
	   }
	   .con .con_main .phone .butt{
			width: 4.6rem;
			height: 1.6rem;
			border: none;
			text-align: center;
			font-family: MicrosoftYaHei;
			font-size: 0.75rem;
			color: #ffffff;
			font-weight: normal;
			border-radius:0.25rem;
			background-color: #ff8288;
			float: left;
			margin-left: 0.3rem;
			margin-top: 0.1rem;
	   }
	 	
		.con .con_main .yzm{
			width: 100%;
			height: auto;
			margin-top:0.825rem;
		}
		.con .con_main .yzm .nums{
			border: none;
			width: 96%;
			height: 1.85rem;
			border-radius: 0.25rem;
			font-family: MicrosoftYaHei;
			font-size: 0.75rem	;
			font-weight: normal;
			color: #cccccc;
			padding-left: 0.45rem;
			margin-bottom: 1.0rem;
		}
		.con .con_main .yzm .denglu{
			width: 100%;
			height: 2.35rem;
			text-align: center;
			line-height: 2.35rem;
			background-color: #ff8288;
			color: #ffffff;
			border: none;
			border-radius: 0.25rem;
			font-family: MicrosoftYaHei;
			font-size: 0.9rem;
		}
		.con .con_main .yzm span{
			display: block;
			width: 11.425rem;
			height: 0.575rem;
			font-family: SimSun;
			font-size: 0.6rem;
			font-weight: normal;
			font-stretch: normal;
			line-height: 0.9rem;
			letter-spacing: 0.05rem;
			color: #ff8288;
			margin-top: 1.45rem
		}
		.yw{
			color: gray;
			font-size: 0.5rem;
			margin-bottom: 0.5rem;
		}