*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: white;
}
html{
	height: 100%;
    overflow-x: hidden;
}
body{
	height: 100%;
    overflow-x: hidden;
}
.all{
	width: 100%;
	height: 100%;
}
.all .topBanner{
	width: 100%;
    height: 12.5%;
    background-color: #ff8288;
    line-height: 8.3rem;
    color: #fff;
    text-align: center;
}
.topBanner ul{
	/*border: 1px solid red;*/
	width: 100%;
	height: 2rem;
	float: left;
	margin-left: 1rem;
	margin-top: 1rem;
}
.topBanner ul li{
	border: 1.5px solid white;
	width: 1rem;
	height: 1rem;
	float: left;
	border-radius: 100%;
	list-style: none;
	margin-right: 0.5rem;
}
.topBanner ul .byq{
	background: white;
}
.topBanner ul .yw{
	font-size: 2rem;
	margin-left: 0.7rem;
	margin-top: -3.4rem;
	float: left;
}
.topBanner ul .wuxian{
	float: left;
	margin-left: 1rem;
	margin-top: -2.4rem;
}
.topBanner ul .sj{
	font-size: 2rem;
	float: left;
	margin-left: 9.4rem;
	margin-top: -3.4rem;
}
.topBanner ul .ly{
	float: left;
	margin-left: 12.5rem;
	margin-top: -2.0rem;
}
.topBanner ul .dl{
	font-size: 2.4rem;
	float: left;
	margin-left: 49.5rem;
	margin-top: -9.5rem;
}
.topBanner ul .dp{
	float: left;
	margin-left: 54.5rem;
	margin-top: -8.7rem;
}
.all .topBanner .topBanner-one{
	font-size: 4rem;
	float: left;	
    margin-left: 0.5rem;
}
.all .topBanner .topBanner-two{
    font-size: 3.4rem;
    text-decoration: none;
    margin-left: -2rem;
}
.all .topBanner .topBanner-three{
    font-size: 3rem;
    text-decoration: none;
    float: right;
    margin-right: 1.9rem;
    margin-top: 0.7rem;
    color: white;
}
.all .con{
	width: 100%;
    height: 87%;
    background: #FDEEE7;
    overflow: hidden;
}
.con .con_main{
	/*border: 1px solid red;*/
	width: 92%;
    margin: 0 auto;
    height: 92%;
    margin-top: 2.0rem;
}
.con_main .con_main_one{
	border: 1px solid white;
	width: 25%;
	height: 15%;
	border-radius: 50%;
    background: white;
    margin: 0 auto;
    
}
/*.con_main .con_main_one img{
    position: absolute;
    left: 23rem;
    top: 14rem;
    width: 25%;
    height: 15%;
}*/
.con_main .input-one{
    border:1px solid white;
    width: 100%;
    height: 10%;
    background: white;
    margin-top: 3rem;
    font-size: 3rem;
    border-radius: 10px 10px 0 0;
}
.con_main .input-two{
    border:1px solid white;
    width: 100%;
    height: 10%;
    background: white;
    margin-top: 1rem;
    font-size: 3rem;
    border-radius: 10px 10px 0 0;
}
.i{
    display: block;
    font-size: 2.85rem;
    font-style: normal;
    height: 0.375rem
}
.con_main .input-three{
    border:1px solid white;
    width: 100%;
    height: 30%;
    background: white;
    margin-top: 1rem;
    font-size: 3rem;
    border-radius: 10px 10px 0 0;
}
.con_main .button{
    background: #ff8288;
    width: 50%;
    height: 10%;
    margin-top:3rem;
    border-radius: 10px 10px 0 0;
    font-size: 3rem;
    position: absolute;
    left: 14rem;

}
.myupload-container .table{float:left;margin-right:15px;margin-bottom:10px;display:table;}
.myupload-container .table-cell{text-align:center;vertical-align:middle;display:table-cell;}
.myupload-container .content{width:200px;height:200px;padding:5px;cursor:pointer;position:relative;}
.myupload-container .content img{max-width:95%;max-height:95%;}
.myupload-container .mask{position:absolute;z-index:9900;top:0;left:0;width:100%;height:100%;background:#3c59c0;filter:alpha(opacity=15); -moz-opacity:0.15; -khtml-opacity: 0.15; opacity: 0.15;cursor:pointer;}
.myupload-container .controllbar{position:absolute;z-index:9999;bottom:-10px;left:0;width:100%;height:100%;}
.myupload-container .controllbar .upload{width:50%;height:50px;line-height:50px;text-align:center;vertical-align:middle;background:#3c59c0;font-family:Microsoft Yahei;color:white;cursor:pointer;border-right:solid 1px #fff;overflow:hidden;}
.myupload-container .controllbar .cancel{width:50%;height:50px;line-height:50px;text-align:center;vertical-align:middle;background:#3c59c0;font-family:Microsoft Yahei;color:white;cursor:pointer;overflow:hidden;}